@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

/* General styles */
body {
	background-color: #000000;
	font-family: 'Lugrasimo', Helvetica, sans-serif;
	margin: 0;
}
/* jorge */
.container__list{
	display: block;
	width: 200px;
	height: 500px;
  overflow: auto; /* Activa el scroll cuando el contenido exceda el tamaño del contenedor */

.animacion-arriba{
	background-image: url('../Imagenes/banner-1.png');
	width: 100%;
	height: 45px;
	top: 0;
	overflow-x: hidden;
	background-repeat: repeat-x;
	background-position: left top;
}

audio {
	color: white
}


/* -- Prueba Andrews --*/

.animacion-arriba{
	display: block;
	width: 100%;
	margin-top: 80px;
	text-align: center;
}

.content-logo{
	margin: 0;
	padding: 0;
}

.content-logo img{
	width: 80px;
}

.content-cabecera h2{
	color: white;
	margin: -5px;
	padding: 0;
}

main {
	position: absolute;
	background-image: url('../Imagenes/cartel-game.png');
	margin: auto;
	margin-top: 170px;
	width: 100%; /* Ajusta el ancho del contenedor según el tamaño de tu imagen */
	height: 600px; /* Ajusta la altura del contenedor según el tamaño de tu imagen */
	background-size: contain; /* Cambia a 'contain' para que la imagen se ajuste al contenedor */
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
}

.AnclayEspadas{
	height: 100%;
	width: auto;
	animation-name: mianimacion;
    animation-duration: 1s;
    animation-delay: 1s;
    position: relative;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



  @keyframes mianimacion {
    0% {left: 0%; top: 0px;}
    100%{ left: 70%; top: 0px;}
  
  }

  .contenedor__grande{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: auto;
        /* Establecer la imagen de fondo */
        background-image: url('../Imagenes/cartel-game.png');
    
        /* Ajustar el tamaño de la imagen */
        background-size: 50% 100%; /* Opciones: 'contain', 'cover', 'auto', etc. */
        
        /* Repetir la imagen si es más pequeña que el contenedor */
        background-repeat: no-repeat; /* Opciones: 'repeat', 'repeat-x', 'repeat-y', 'no-repeat', etc. */
        
        /* Posición de la imagen */
        background-position: center center; /* Puedes ajustar esto según tus preferencias */
        /* Altura del div */
        height: 80vh; /* Ajusta la altura según tus necesidades */
        width: 100vw;
  }

.form__container{
  margin-top: 10%;
}


/* Mobile */
@media (max-width: 575px) {}

/* Tablet */
@media (min-width: 576px) and (max-width: 767px) {}
.container_imagen_play{
	display: flex;
	gap: 10%;
}
 
.container_imagen_play button{
	
}


/* Desktop */
@media (min-width: 768px) and (max-width: 991px) {}

/* -- Melany --*/

/* --- JJulian --- */
.animacion-abajo{
	position: absolute;
	background-image: url('../Imagenes/banner-2.png');
    width: 100%;
	height: 45px;
	bottom: 0;
	overflow-x: hidden;
	background-repeat: repeat-x;
	background-position: left bottom;
}
