/* General styles */
body {
	background-color: #e5e7eb;
	font-family: Arial, Helvetica, sans-serif;
}
/* jorge */
.container__list{
	display: block;
	width: 200px;
	height: 500px;
	background-color: aquamarine;
}

/* -- Melany --*/

/* --- JJulian --- */