@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
*{
	font-family: 'Lugrasimo', Helvetica, sans-serif;
	color: white;
}

button{
	background-color: transparent;
	border: none;
	cursor: pointer;
}


/* General styles */
body {
	background-color: #000000;
	margin: 0px;
}
/* jorge */

.AnclayEspadas{
	height: 100%;
	width: 40%;
	animation-name: mianimacion;
    animation-duration: 1s;
    animation-delay: 1s;
    position: relative;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



@keyframes mianimacion {
0% {left: 0%; top: 0px;}
100%{ left: 60%; top: 0px;}

}

.content-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


/* -- Prueba Andrews --*/
section{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../Imagenes/cartel-game.png') center center / 100% 100% no-repeat;
	height: 60vh; 
	width: 100%;
}

.content1{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50%;
	gap: 10px;
}

.form__container{
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../Imagenes/tablon-1.png) center center / 100% 100% no-repeat;
	text-align: center;
	padding: 1%;
	width: 70%;

}

.form__list{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 2%;
}

.form__container button{
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	cursor: pointer;
	color: white;
}

.form__container input{
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	width: 80%;
}

#players__input::placeholder {
	color: white;
	font-size: 70%;
	text-align: center;
}



.container__list{
	font-size: 60%;
	background: url(../Imagenes/tablon-2.png) center center / 100% 100% no-repeat;
	text-align: center;
	width: 70%;
	height: 15vh;
	
}

.container__players{
	background-color: rgba(255, 255, 255, 0.3);
	margin-left: 10%;
	width: 80%;
	height: 60%;
	overflow: auto; 
}



.container_imagen_play{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1%;
}

.container_imagen_play img{
	width: 15%;
	height: 15%;
}

.buttonPlay {
	font-size: 30px;
	background: url('../Imagenes/boton-play-blanco.png') center center / 100% 100% no-repeat;
	width: 40%;
	height: 100%;
	text-align: center;
	
}



/* Mobile */
@media (max-width: 575px) {}

/* Tablet */
@media (min-width: 576px) and (max-width: 767px) {}



/* Desktop */
@media (min-width: 768px) and (max-width: 991px) {}

/* -- Melany --*/

/* --- JJulian --- */
